<h1>Create your profile :</h1>

<% if @user.invalid? %>
  <div class ="alert alert_danger">
    <% @user.errors.full_messages.each do |message|
      <%= message %>
  </div>
<% end %>

<form action="/create" method="post">
	name:<br>
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
	<input type="text" name="username"><br>
	bio:<br>
	<input type="text" name="bio"><br>
	<input type="submit" value="Submit">
</form>